.container-content-password {
  width: 30%;
  height: auto;
  background-color: white;
  border-radius: 12px;
  padding: 50px;
  flex-direction: column;
}
.button-password {
  background: var(--highlight) !important;
  color: white;
  border-width: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  border-radius: 3px;
  margin:10px 50px 10px 90px;
}
.home-container-password {
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container-title-password {
  color: var(--highlight);
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 30px;
}
